<div class="row">
  <div class="col-md-12">
    <div class="card">
      <form class="form-material" action="javascript:" #f="ngForm" (ngSubmit)="onFormSubmit(f)">
        <div class="card-header">
          <div class="row">
            <div class="col-md-4">
              <h5>Machine Master</h5>
            </div>
            <div class="col-md-8 text-align-right">
              <button type="submit" class="btn hor-grd btn-grd-primary ripple light">Save</button>
            </div>
          </div>
          <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
        </div>
        <div class="card-block">
          <!-- <form class="form-material" action="javascript:"> -->
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-primary">
                <input type="text" class="form-control" name="Mc_Id" [(ngModel)]="machinemaster.Mc_Id" required
                  #Mc_Id="ngModel">
                <span class="form-bar"></span>
                <label class="float-label">Machine Id</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-primary">
                <input type="text" class="form-control" name="Mc_Desc" [(ngModel)]="machinemaster.Mc_Desc" required
                  #Mc_Desc="ngModel">
                <span class="form-bar"></span>
                <label class="float-label">Machine Description</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1">Active</label>
            <div class="col-sm-11">
              <div class="form-radio">
                <div class="radio radiofill radio-primary radio-inline">
                  <label>
                    <input name="Active_YN" type="radio" value="YES" #name="ngModel"
                      [(ngModel)]="machinemaster.Active_YN">
                    <i class="helper"></i>Yes
                  </label>
                </div>
                <div class="radio radiofill radio-primary radio-inline">
                  <label>
                    <input name="Active_YN" type="radio" value="NO" #name="ngModel"
                      [(ngModel)]="machinemaster.Active_YN">
                    <i class="helper"></i>No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12" style="text-align:right">
              <button class="btn hor-grd btn-grd-primary ripple light">Save</button>
            </div>
          </div> -->
          <!-- </form> -->
        </div>
      </form>
    </div>
  </div>
</div>