<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-4">
            <h5>Role Master</h5>
          </div>
          <div class="col-md-8 text-align-right">
            <button class="btn hor-grd btn-grd-primary ripple light">Save</button>
          </div>
        </div>
        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
      </div>
      <div class="card-block">
        <form class="form-material" action="javascript:">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group form-default">
                <select name="select" class="form-control form-control-default">
                  <option value="opt1">Select Role</option>
                  <option value="opt2">SuperAdmin</option>
                  <option value="opt3">Admin</option>
                  <option value="opt4">Engineer</option>
                  <option value="opt5">Operator</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Menu Id</th>
                  <th scope="col">Group</th>
                  <th scope="col">Sub Group</th>
                  <th scope="col">Assign to Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Admin</td>
                  <td>Company Master</td>
                  <td>
                    <input type="checkbox" value="">
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Master</td>
                  <td>Machine Master</td>
                  <td>
                    <input type="checkbox" value="">
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Master</td>
                  <td>Position Master</td>
                  <td>
                    <input type="checkbox" value="">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="row">
            <div class="col-md-12" style="text-align:right">
              <button class="btn hor-grd btn-grd-primary ripple light">Save</button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>