<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h5>Machine Mapping</h5> -->
        <div class="row">
          <div class="col-md-4">
            <h5>Machine Mapping</h5>
          </div>
          <div class="col-md-8 text-align-right">
            <button class="btn hor-grd btn-grd-primary ripple light">Save</button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <form class="form-material" action="javascript:">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group form-default">
                <select name="machineName" class="form-control form-control-default">
                  <option value="">Select Machine</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-default">
                <select name="machineSide" class="form-control form-control-default">
                  <option value="">Select Side</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-default">
                <select name="machineSection" class="form-control form-control-default">
                  <option value="">Select Section</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group form-default">
                <select name="machineDeck" class="form-control form-control-default">
                  <option value="">Select Deck</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Machine</th>
                  <th scope="col">Side</th>
                  <th scope="col">Section</th>
                  <th scope="col">Deck</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>A</td>
                  <td>1-20</td>
                  <td>2</td>
                  <td><a href="#">UPDATE</a></td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>B</td>
                  <td>1-20</td>
                  <td>2</td>
                  <td><a href="#">UPDATE</a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>A</td>
                  <td>1-15</td>
                  <td>3</td>
                  <td><a href="#">UPDATE</a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>B</td>
                  <td>1-15</td>
                  <td>3</td>
                  <td><a href="#">UPDATE</a></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>A</td>
                  <td>1-25</td>
                  <td>4</td>
                  <td><a href="#">UPDATE</a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>B</td>
                  <td>1-25</td>
                  <td>4</td>
                  <td><a href="#">UPDATE</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>